# all
**/*.csv
**/Downloads/

# winter
!/winter/winter_final_project/**
/winter/**/__pycache__/
/winter/**/db.sqlite3

# biological
!/biological/HW1/**
/biological/**/Downloads/

!/biological/HW2/**
/biological/**/Downloads/
/biological/HW2/data/Dmel/genomic.gff
/biological/HW2/data/Dsim/genomic.gff

# cancerAnalysis
!/cancerAnalysis/**
/cancerAnalysis/**/Downloads/
/cancerAnalysis/humanmine_GO-terms_AllData.csv
/cancerAnalysis/humanmine_Disease-Expression_AllData.csv