# all
**/*.csv
**/Downloads/

# winter
!/winter/winter_final_project/**
/winter/**/__pycache__/
/winter/**/db.sqlite3

# biological
!/biological/HW1/**
/biological/**/Downloads/

# cancerAnalysis
!/cancerAnalysis/**
/cancerAnalysis/**/Downloads/
/cancerAnalysis/humanmine_GO-terms_AllData.csv